.ja{
    
    width: 77px;
    height: 67px;
    border-radius: 26px;
    padding-left: -10px;
    padding-top: 5px;
    margin-left: 180px;
}
.j{
    width: 50%;
    height: 100%;
   
}
.rounded-circle{
    width:90%;
    height: 80%;

}
.card-img-top{
    width: 38%;
    height: 30%;
    margin-left: 80px;
    margin-top: 23px;
   
    
    
}
.o{
    margin-left: 150px;
  margin-top: 2px;
   
}
.m{
    width: 38%;
    height: 30%;
    margin-left: 80px;
    margin-top: 23px
}
#card-img-top{
    width: 38%;
    height: 90px;
    margin-left: 80px;
    margin-top: 23px

}
#card-img-top{


    width: 38%;
    height: 30%;
    margin-left: 80px;
    margin-top: 23px
}


  